# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
cache/
.cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.idea/
.vscode/
.history/

# macOS
.DS_Store


# Log files
logs/
*.log
simulation_runner.log

# ignore env dir
world_sim_env

# the testing dir isn't super important
# and can leak information
Testing/
Frontend/reporting-dashboard/node_modules.history/


# any history directory for that matter
*.history/
*.history/*